<div class="container">
  <h1><%= @list.name %></h1>
  <%= link_to "Home", root_path %>
  <%= link_to "Add To List", new_list_bookmark_path(@list) %>
  <hr>
  <% @list.movies.each do |movie| %>
    <div class="container">
      <h3><%= movie.title %></h3>
      <p><%= movie.overview %></p>
      <img src="<%= movie.poster_url%>" alt="<%= movie.title %>" style="width:200px">
    </div>
    <br>
  <% end %>
</div>
